<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>SB Admin 2 - Tables</title>

<!-- Custom fonts for this template -->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">


<style>
.numberInput::-webkit-inner-spin-button, .numberInput::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}
</style>


</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				href="index.html">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">
					SB Admin <sup>2</sup>
				</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">


			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Nav Item - Charts -->
			<li class="nav-item"><a class="nav-link" th:href="@{table}">
					<i class="fas fa-fw fa-chart-area"></i> <span>Charts</span>
			</a></li>

			<!-- Nav Item - Tables -->
			<li class="nav-item active"><a class="nav-link"
				th:href="@{table}"> <i class="fas fa-fw fa-table"></i> <span>Tables</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<form class="form-inline">
						<button id="sidebarToggleTop"
							class="btn btn-link d-md-none rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>
					</form>



					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none"><a
							class="nav-link dropdown-toggle" href="#" id="searchDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
						</a> <!-- Dropdown - Messages -->
							<div
								class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
								aria-labelledby="searchDropdown">
								<form class="form-inline mr-auto w-100 navbar-search">
									<div class="input-group">
										<input type="text"
											class="form-control bg-light border-0 small"
											placeholder="Search for..." aria-label="Search"
											aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search fa-sm"></i>
											</button>
										</div>
									</div>
								</form>
							</div></li>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <span
								class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas
									McGee</span> <img class="img-profile rounded-circle"
								src="img/undraw_profile.svg">
						</a></li>
					</ul>
				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Tables</h1>
					
					<div class="container2"
						style="margin-left: 50px; margin-right: 50px;">
						<div class="row">
							<div class="col-md-12">
								<form id="selectForm" th:action="@{/api/selectemp}"
									method="post" th:object="${queryEmp}">
									
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label for="input1">薪資上限</label> <input type="number"
													class="clearable form-control numberInput"
													placeholder="薪資上限" min="0" th:field="*{salUpLimit}"  />
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label for="input1">薪資下限</label> <input type="number"
													class="form-control clearable numberInput"
													placeholder="薪資下限" min="0" th:field="*{salLowLimit}" >
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label for="start-date">起始日期:</label> <input type="date"
													class="form-control clearable" id="start-date"
													name="start-date" th:field="*{startDate}">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label for="end-date">结束日期:</label> <input type="date"
													class="form-control clearable" id="end-date"
													name="end-date" th:field="*{endDate}">
											</div>
										</div>
									</div>
									<div class="row">
										
										<div class="col-md-3">
											<div class="form-group">
												<label for="input1">員工名稱</label> <input type="text"
													th:field="*{ename}" class="form-control clearable"
													placeholder="請輸入員工名稱" value="">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label for="input1">所屬單位</label> <select
													class="form-select form-select-sm form-control clearable"
													aria-label=".form-select-sm example" th:field="*{dname}">
													<option selected value="">請選擇</option>
													<option value="財務部">財務部</option>
													<option value="研發部">研發部</option>
													<option value="業務部">業務部</option>
													<option value="生管部">生管部</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label for="input1">職位</label> <select
													class="form-select form-select-sm form-control clearable"
													aria-label=".form-select-sm example" th:field="*{job}">
													<option selected value="">請選擇</option>
													<option value="PRESIDENT">PRESIDENT</option>
													<option value="MANAGER">MANAGER</option>
													<option value="SALESMAN">SALESMAN</option>
													<option value="CLERK">CLERK</option>
													<option value="ANALYST">ANALYST</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="row">
												<div class="col-md-12 ">
													<button class="btn btn-primary" style="margin: 5px;"
														type="button" id="clearButton">清除</button>
													<button class="btn btn-primary" style="margin: 5px;">查詢</button>
												</div>
											</div>

										</div>
									</div>

									<div class="col-md-12">
										
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- DataTales Example -->
					<div class="card shadow mb-4" id="dataCard"
						th:if="${ emplist != null}">

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>ename</th>
											<th>job</th>
											<th>hiredate</th>
											<th>sale</th>
											<th>comm</th>
											<th>dname</th>
											<th>loc</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="emp : ${emplist}">
											<td th:text="${emp.ename}"></td>
											<td th:text="${emp.job}"></td>
											<td th:text="${emp.hiredate}"></td>
											<td th:text="${emp.sal}"></td>
											<td th:text="${emp.comm}"></td>
											<td th:text="${emp.deptno.dname}"></td>
											<td th:text="${emp.deptno.loc}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->



		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->





	<!-- startDate endDate check -->
	<script>
		// 获取起始日期和结束日期的输入元素
		let startDateInput = document.getElementById('start-date');
		let endDateInput = document.getElementById('end-date');

		// 监听起始日期输入变化事件
		startDateInput.addEventListener('input', function () {
			// 获取起始日期和结束日期的值
			let startDate = new Date(startDateInput.value);
			let endDate = new Date(endDateInput.value);

			// 如果结束日期早于起始日期，则将结束日期设为起始日期
			if (endDate < startDate) {
				endDateInput.value = startDateInput.value;
			}
		});

		// 监听结束日期输入变化事件
		endDateInput.addEventListener('input', function () {
			// 获取起始日期和结束日期的值
			let startDate = new Date(startDateInput.value);
			let endDate = new Date(endDateInput.value);

			// 如果结束日期早于起始日期，则将起始日期设为结束日期
			if (endDate < startDate) {
				startDateInput.value = endDateInput.value;
			}
		});
	</script>


	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>
	<script>
		$(function () {
			$("#clearButton").on('click', function () {
				$("input.clearable").val("");
				$("select.clearable").prop("selectedIndex", 0);

			})
		})
	</script>

</body>

</html>