<div class="col-md-12">
    <div class="row" >
        <div id="additionalFields" style="display: none;">
        <div class="col-md-3">
            <div class="form-group" >
                <label for="input2">新增標籤1</label>
                <input type="text" class="form-control" id="input2"
                    placeholder="請輸入新增標籤1">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" >
                <label for="input3">新增標籤2</label>
                <input type="text" class="form-control" id="input3"
                    placeholder="請輸入新增標籤2">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" >
                <label for="input4">新增標籤3</label>
                <input type="text" class="form-control" id="input4"
                    placeholder="請輸入新增標籤3">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" >
                <label for="input5">新增標籤4</label>
                <input type="text" class="form-control" id="input5"
                    placeholder="請輸入新增標籤4">
            </div>
        </div>
    </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-end">
                    <button class="btn btn-primary"
                        onclick="toggleAdditionalFields()">切換顯示</button>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>